@import "../../vars.scss";

.cart-empty {
	flex: 1;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	padding: 20px;

	text-align: center;

	// background-color: #b76767;
	img {
	}

	h2 {
		@include ui-space(top, 5.25);

		font-weight: $bold-weight;
	}

	p {
		@include ui-space(top, 2.25);

		@include ui-opacity(6)
	}

	button {
		@include ui-space(top, 10);
	}
}
