@import "vars";
// используя css modules я каждый раз буду использовать импорт???? насколько сильно это все тормозит?

html,
body {
	font-family: $font-family;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-size: 16px;

	color: $primary-f-color;

	background-color: $main-bgc-color;

	&__no-scroll{
		overflow: hidden;
	}
}
.wrapper {
	margin: 5% 10%;

	background: #fff;

	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);

	border-radius: 20px;

	overflow: hidden;
}

.button {
	width: 100%;
	height: 55px;

	display: flex;
	align-items: center;
	justify-content: center;

	background: #9dd558;
	border-radius: 18px;

	@include adaptive-font(20, 16);
	color: $secondary-f-color;
	font-weight: $bold-weight;

	transition: all 0.13s ease-in-out;
	&:hover {
		background: lighten(#9dd558, 5%);
	}
	&:active {
		background: darken(#9dd558, 5%);
	}

	position: relative;
}

.content {
	@include ui-space(top, 10);
	@include ui-space(bottom, 10);
	&__title-block {
		display: flex;
		justify-content: space-between;
		align-items: center;

		h1 {
			@include adaptive-font(30, 16);
			font-weight: $extra-bold-weight;
		}
	}
	&__products {
		@include ui-space(top, 10);

		display: grid;
		grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
		gap: 20px;
		justify-items: center;
	}
}